body{
    
  margin-right: auto;
  margin-left: auto;
  max-width: 100vh;
}
#navigationBar {
  position: relative;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 960px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
#navigationBar ul {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 960px;
  list-style:none;
  background-color: crimson;
  overflow: visible;
}
#navigationBar ul>li {
  display: block;
  float: right;
  height: auto;
  /*menu header`s items width*/
  width: 80px;
}
#navigationBar li > a {
  display: block;
  margin-top: 5px;
  padding: 0 0 0 10px;
  height: 100%;
  width: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-decoration: none;
  background-color: crimson;
  color:white;
}
.firstitem{
position: absolute;
text-align:left;
display:block;
background-color: transparent;
border: 1px solid transparent;
margin: 10px 10px;
float:left;
}
.seconditem{
  position: absolute;
  text-align:left;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 10px 10px;
  left: 320px;
}
.thirditem{
  position: absolute;
  background-color: rgba(230, 219, 65, 0.986);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  left: 640px;
  width: 290px;
}
#index-first{
  position: relative;
  width: 300px;
}

.fourthitem{
  position: absolute;
  text-align:left;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 10px 10px;
  float:left;
}
.fifthitem{
    position: absolute;
    text-align:left;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 10px 10px;
    left: 320px;
    float: right;
}
.sixthitem{
  position: absolute;
  text-align:left;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 10px 10px;
  left: 640px;
}
#index-second{
  position: relative;
  width: 300px;
  top: 420px;
  
}
.seventhitem{
  position: absolute;
  text-align:left;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 10px 10px;
  float:left;
}
.eighthitem{
    position: absolute;
    text-align:left;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 10px 10px;
    left: 320px;
    float: right;
}
.ninthitem{
  position: absolute;
  text-align:left;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 10px 10px;
  left: 640px;
}
#index-third{
  position: relative;
  width: 300px;
  top: 840px;
}
.site-footer {
  position: relative;
  width: 1260px;
  height: 30px;
  background: #050546;
  top: 1260px;
  left: -150px;
  right: -500px;
  margin-top: 20px;
  }

#footer-content {
  background: #050546;
  text-align: left;
  left:200px;
  color: white;
  margin-left: 150px;
  
}