* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  header {
    padding: 2rem 0;
    background-color: #2978a0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    width: 50%;
    display: flex;
  }
  #logo img {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
  }
  input#search {
    margin-right: 2rem;
    width: 35%;
    background-image: url("http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png");
    background-size: 2rem;
    background-position: left;
    background-position-x: 0.5rem;
    background-repeat: no-repeat;
    text-indent: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    border: 3px solid #315659;
    border-radius: 7.5px;
  }
  input#search:focus {
    padding-left: 3rem;
    background-image: none;
    text-indent: 0px;
    border-color: antiquewhite;
  }
  main {
    margin-top: 5rem;
  }
  #result-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .response-box {
    width: 27%;
    margin: 1rem;
    padding: 0.5rem;
    border: 3px solid #315659;
    background-color: #2978a0;
  }
  .img-handler {
    width: 100%;
    margin-bottom: 1rem;
  }
  .img-handler img {
    width: 100%;
  }
  .response-box h3 {
    display: block;
    margin: 0 auto 1rem;
    width: 90%;
    font-size: 1rem;
    text-overflow: ellipsis;
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
  }
  .response-box h3:hover {
    color: #253031;
  }
  
  .show-profile header {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .img-user {
    margin-left: 1rem;
  }
  .img-user img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  header h4 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    text-overflow: ellipsis;
  }
  #rep-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rep-item {
    margin: 1rem auto;
    padding: 1rem 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #2978a0;
  }
  .rep-item h4 {
    font-size: 1.2rem;
    color: antiquewhite;
  }
  .rep-item a {
    min-width: 30%;
    margin-right: 1rem;
    text-decoration: none;
    overflow: hidden;
  }
  .rep-item h4:hover {
    color: #2978a0;
  }
  .rep-img {
    padding-left: 2rem;
    min-width: 10%;
  }
  .rep-img img {
    width: 80%;
  }
  .rep-description {
    font-size: 1.2rem;
    color: #fff;
    min-width: 50%;
    text-align: start;
  }
  .stars {
    min-width: 10%;
    font-size: 1.2rem;
    color: antiquewhite;
    text-align: end;
  }
  /***************************************************
                  MEDIA QUERIES
  ***************************************************/
  @media only screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
    #logo {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1rem;
    }
    #logo img {
      width: 2rem;
      height: 2rem;
    }
  
    main {
      margin-top: 2rem;
    }
    .response-box {
      width: 39%;
    }
    .response-box h3 {
      width: 100%;
      font-size: 0.8rem;
      text-overflow: ellipsis;
    }
    header {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
    input#search {
      margin: 2rem 0;
      width: 60%;
    }
    #logo img {
      margin: 0;
    }
    header h4 {
      width: 100%;
      font-size: 2rem;
    }
    .rep-item {
      margin: 1rem auto;
      padding: 1rem 0;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid #2978a0;
    }
    .rep-img {
      padding-left: 2rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
    }
    .rep-img img {
      width: 30%;
    }
    .rep-item h4 {
      font-size: 2rem;
      color: antiquewhite;
    }
    .rep-item a {
      width: 100%;
      text-decoration: none;
      text-align: center;
    }
    .rep-item h4:hover {
      color: #2978a0;
    }
    .stars {
      min-width: 10%;
      font-size: 1.5rem;
      color: antiquewhite;
      margin: 1rem 0;
      text-align: end;
    }
  }
  
  .show-hide {
    display: none;
  }